# Don't track content of these folders
venv
venv/
venv/*
env/

ServiceStatus/static
ServiceStatus/static/
ServiceStatus/static/*

ServiceStatus/settings.py

.DS_Store

.idea
.idea/
.idea/*
.idea/*.xml
.idea/*.iml
.idea/dictionaries

__pycache__
__pycache__/
__pycache__/*

htmlcov
htmlcov/
htmlcov/*

.coverage
.coverage.*
coverage.xml
*.cover
.coveragerc
.vscode/settings.json

