{% extends 'base.html' %}

{% block content %}

    {% load extra_filters %}

    <div class="container mt-4" id="service_status_heading">
        <h1>Services Status</h1>
    </div>

    <!--  Recent events section  -->
    <section id="recent_events"> <!--  This section will show all events in the last five days  -->
        <div class="container" id="events_heading">
            <p class="bold">Recent Events</p>
        </div>

        {#Describe this "for" statement functionality#}
        {% for ticket in ticket_list %}

            <div class="container mt-4 py-3" id="list_events"
                 style="border-left: 0.6rem solid {{ ticket.status.color_hex }};">
                <a href="details/{{ ticket.id }}">
                    <p><span class="bold">Sub-service Impacted: </span>{{ ticket.sub_service.name }}</p>
                    <p><span class="bold">Status: </span>{{ ticket.status.tag }}</p>
                    <p>{{ ticket.action_description | safe }}</p> <!--  Description of the ticket  -->
                </a>
            </div>

        {% endfor %}

    </section>

    <!--  End of Recent events section  -->

    <!--  Services List section  -->

    <!--  Search and filter section  -->
    <div class="container" id="search_and_filter">
        <div class="row mt-4">
            <div class="col-3" id="search">
                <form action="." method="get">
                    <div class="row">
                        <div class="col-10 p-0">
                            <div class="form-group m-0">
                                <input type="text" name="search" placeholder="Search..." class="form-control"

                                        {#Describe this conditional statement functionality#}
                                        {% if search_value %} value="{{ search_value }}" {% endif %}>

                                <input type="text" name="region_list" hidden value="{{ region_list }}">
                            </div>
                        </div>
                        <div class="col-2 p-0 m-0">
                            <button type="submit" name="search_services" class="btn pl-0">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-5 pl-1">
                <!--  Regions Dropdown  -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle p-0 pt-2" type="button" id="regions_dropdown_menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        List services by regions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="regions_dropdown_menu">
                        <!--  This section will list regions from the database  -->
                        <form action="." method="get">

                            {#Describe this "for" statement functionality#}
                            {% for region in region_list %}

                                <div class="dropdown-item">
                                    <input class="form-check-input" type="checkbox" name="regions" value="{{ region }}"
                                           {% if region.name in regions_checked %}checked{% endif %}>
                                    <label class="form-check-label">{{ region }}</label>
                                </div>

                            {% endfor %}

                            <button type="submit" name="regions_select" class="btn btn-dark py-0">Select Regions
                            </button>
                        </form>
                        <!--  End of list of regions from DB  -->
                    </div>
                </div>
                <!--  End of Regions Dropdown  -->
            </div>
            <div class="col-4 border-left d-flex align-items-center">
                <a href="/" class="link">
                    <p class="m-0">Reset filters</p>
                </a>
            </div>
        </div>
    </div>
    <!--  End of Search and filter section  -->

    <!--  Small legend section  -->
    <div class="container mt-3 d-lg-none">
        <div class="row py-1 border-top border-bottom d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle py-1" type="button" id="dropdown_menu_button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Legend
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown_menu_button">

                    {#Describe this "for" statement functionality#}
                    {% for status in status_list %}

                        <div class="row m-0 d-flex justify-content-between p-0 dropdown-item">
                            <div class="col-1 d-inline">{{ status.tag }}</div>
                            <div class="col-1 mr-2 d-inline">
                               <span style="color: {{ status.color_hex }}">
                               <i class="{{ status.class_design }}"></i>
                                </span>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!--  End of small legend section  -->

    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-12 col-lg-10 mb-2 border">
                <!-- Table headings -->
                <div class="row border-top border-bottom bold pt-2 mb-2" id="list_of_services_heading">
                    <div class="col-5">
                        <p>Business Services</p>
                    </div>
                    <div class="col pl-1">
                        <p>{{ days.4 | date:'M-d' }}</p>
                    </div>
                    <div class="col pl-1">
                        <p>{{ days.3 | date:'M-d' }}</p>
                    </div>
                    <div class="col pl-1">
                        <p>{{ days.2 | date:'M-d' }}</p>
                    </div>
                    <div class="col pl-1">
                        <p>{{ days.1 | date:'M-d' }}</p>
                    </div>
                    <div class="col pl-1">
                        <p>{{ days.0 | date:'M-d' }}</p>
                    </div>
                </div>
                <!--  End of Table headings  -->

                <!--  Table Data  -->
                <div id="list_of_services_data">

                    {#Describe this conditional statement functionality#}
                    {% if no_search_results or services_list|length == 0 %}

                        <div class="row mt-4 d-flex justify-content-center">
                            <p class="bold">No results found for your search criteria</p>
                        </div>
                        <div class="row mt-4 d-flex justify-content-center">
                            <a class="link" href="/">
                                <p>See all services</p>
                            </a>
                        </div>

                    {#Describe this conditional statement functionality#}
                    {% else %}

                        {#Describe this "for" statement functionality#}
                        {% for service in services_list %}

                            <div class="row">
                                <div class="col-5">
                                    <a href="{{ service.id }}">
                                        <p>{{ service }}</p>
                                    </a>
                                </div>

                                {#Describe this "for" statement functionality#}
                                {% for status_days in status|get_value:service %}
                                    <div class="col">
                                        <p class="m-0 mt-1">
                                            {% for status_day in status_days %}
                                                {% for id, status in status_day.items %}
                                                    {% if id == 'None' %}
                                                        <i class="{{ status.class_design }}" style="color: {{ status.color_hex }}"></i>
                                                    {% else %}
                                                        <a href="/details/{{ id }}">
                                                            <i class="{{ status.class_design }}" style="color: {{ status.color_hex }}"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}
                    {% endif %}

                </div>
                <!--  End of Table Data  -->
            </div>
            <div class="col-2 d-none d-lg-inline">
                <!--  Legend section  -->
                <div class="container ml-2 border-left border-right border-bottom">
                    <div class="row py-1 border legend_heading">
                        <p class="bold my-1 pl-2">Legend</p>
                    </div>

                    <!--  Legend items  -->

                    {#Describe this "for" statement functionality#}
                    {% for status in status_list %}

                        <div class="row pl-2" id="legend_items">
                            <div class="col-10">
                                <p class="my-1">{{ status.tag }}</p>
                            </div>
                            <div class="col-2 px-0">
                                <p class="m-0 mt-1" style="color: {{ status.color_hex }}">
                                    <i class="{{ status.class_design }}"></i>
                                </p>
                            </div>
                        </div>

                    {% endfor %}

                    <!--  End of Legend items  -->
                </div>
                <!--  End ofLegend section  -->
            </div>
        </div>
    </div>
    <!--  End of Services List section  -->

{% endblock %}

